$backgroundImage: url("../img/m-h-day.jpg") center/cover no-repeat;
$backgroundColor: #fff;
$buttonColor: #699900;
$font: "Hind", sans-serif;
$flexBgColor: #21232e;
$fontColor: #2c2f3c;
$flexColor: #c0c3ce;
$wordsBgColor: #14a0c7;
$gradient: linear-gradient(to right, #659510, #2d5bd9);
