$backgroundImage: url("../img/m-h-night.jpg") center/cover no-repeat;
$backgroundColor: #21232e;
$buttonColor: #e3ac00;
$font: "Fresca", sans-serif;
$flexBgColor: #3b3f50;
$fontColor: #fff;
$flexColor: #2c2f3c;
$wordsBgColor: #ff4e33;
$gradient: linear-gradient(to right, #dda206, #932e51);
