.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.products-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 170px;
  margin: 10px;
}

.products-coast {
  display: flex;
  justify-content: space-around;
}
.products-price {
  font-size: 20px;
  font-weight: 700;
}

.delete-item {
  background-color: #333;
  border-radius: 50%;
  color: #fff;
  border: none;
}
