* {
	box-sizing: border-box;
}
body {
	padding: 0;
	margin: 0 0 5vh;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.header {
	text-align: center;
	height: 70px;
	background-color: #333;
	color: #fff;
}

.header h1 {
	padding: 20px 0px 0px 0px;
}

.content {
	max-width: 800px;
	margin: 0 auto;
}
.week {
	font-weight: 700;
	text-align: center;
	display: grid;
	grid-template: 1fr / repeat(7, 1fr);
}

.month {
	text-align: center;
	display: grid;
	height: 600px;
	grid-template: repeat(5, 100px) / repeat(7, 1fr);
}

.dayOfMonth {
	margin: 5px;
	font-size: 25px;
	background-color: lightgrey;
	border: 1px solid lightgrey;
	padding: 35px 0px 0px 0px;
}

.previousMonth {
	background-color: #fff;
}
