.table {
  max-width: 900px;
  margin: 20px auto;
  text-align: center;
}

.table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  padding: 0px 5px;
}

.display {
  display: none;
}

.text {
  text-align: center;
  font-size: 25px;
}

.search {
  display: flex;
  justify-content: center;
}

.label {
  margin: 10px 0px;
  width: 250px;
  height: 25px;
  font-size: 20px;
}
