.allStars {
  display: flex;
  font-size: 40px;
  flex-direction: row-reverse;
  justify-content: start;
}

.star {
  cursor: pointer;
  color: gray;
}
.radio {
  display: none;
}

.label:hover .star,
.label:hover ~ .label .star {
  color: #ffc107;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: sandybrown;
  background-color: skyblue;
  border-radius: 15px;
  width: 120px;
  height: 45px;
}

button:hover {
  background-color: honeydew;
}
