.form {
  max-width: 250px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

table {
  max-width: 800px;
  text-align: center;
}

table,
th,
td {
  border: 1px solid black;
}
